.form {
	transition: max-height 2s;

	display: block;

	max-height: 100px;
	width: 400px;

	overflow: hidden;

	border: solid 1px transparent;

	h2 {
		transition: opacity 1s;

		display: block;

		width: 400px;
		height: 100px;

		text-align: center;
		line-height: 100px;

		opacity: $opacity;
	}

	&:hover {
		max-height: 100vh;

		h2 {
			opacity: 1;
		}
	}

	&.login {
		border-color: $medium;

		h2 {
			color: $medium;

			border-bottom: solid 1px transparent;
		}
	}
	&.register {
		border-color: $color;

		h2 {
			color: $dark;

			border-right: solid 10px $color;
			border-bottom: solid 1px transparent;

			background-color: $color;
		}
	}
}

::-webkit-input-placeholder {
   color: $medium;
}

:-moz-placeholder {
   color: $medium;  
}

::-moz-placeholder {
   color: $medium;  
}

:-ms-input-placeholder {  
   color: $medium;  
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], input[type="url"], input[type="time"], input[type="week"] textarea {
	display: block;

	height: 50px;
	width: 400px;

	padding: $margin/4;

	border: none;
	outline: none;

	font-size: 25px;

	text-align: center;

	color: $white;

	background: $black;

	&:hover {

	}
	&:focus {

	}
	&:active{

	}
}

input[type="checkbox"] {}
input[type="radio"] {}

input[type="submit"], input[type="file"], input[type="image"], input[type="reset"], button {
	display: block;

	height: 50px;
	width: 400px;

	border: none;
	outline: none;

	line-height: 50px;

	font-size: 25px;

	text-align: center;

	color: $black;

	background: $white;

	&:hover {

	}
	&:focus {
		
	}
	&:active{

	}
}