@keyframes modal-in {
    from {
    	opacity: 0;
    	@include filter(blur(10px));
    }
    to {
    	opacity: 1;
    	@include filter(blur(0));
    }
}
@keyframes modal-out {
    from {
    	opacity: 1;
    	@include filter(blur(0));
    }
    to {
    	opacity: 0;
    	@include filter(blur(10px));
    }
}

#modal {
	position: fixed;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	.logo {
		width: 100%;
	}
}

#modal-control {
	transition: filter $duration;

	height: 100vh;
	width: 100vw;
	
	@include filter(blur(8px));

	overflow: hidden;

	&.hidden {
		@include filter(blur(0px));

		height: auto;
		width: auto;

		overflow: auto;
	}
}

#modal-wrapper {
	display: block;
	animation: modal-in 2s;

	&:before {
		display: block;
		height: 100%;
		width: 100%;

		position: fixed;

		top: 0;
		left: 0;

		background-color: $black;
		opacity: $opacity;

		content: "";
	}

	&.hide {
		animation: modal-out 1s;
	}
	&.hidden {
		display: none;
		* display: none;
	}
}

#explore {
	h2 {
		padding: $margin*2/3 $margin $margin/3;

		font-size: 16px;

		text-align: center;

		color: $medium;
	}
	div {
		transition: color $duration/2;

		font-family: 'Vollkorn', sans-serif;
		font-size: 24px;

		text-align: center;

		color: $medium;

		cursor: pointer;

		&:hover {
			color: $white;
		}
		&:active {
			color: $color;
		}
	}
}